%p Your input:
= @password.user_inputs
%p Generated passwords:
= @password.combinations
= link_to "Back", root_path
= link_to "Delete", password_path(@password),
              method: :delete,
              data: { confirm: 'Are you sure?' }
